@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('DroidArabicKufi-Bold.eot');
    src: url('DroidArabicKufi-Bold.eot?#iefix') format('embedded-opentype'),
        url('DroidArabicKufi-Bold.woff2') format('woff2'),
        url('DroidArabicKufi-Bold.woff') format('woff'),
        url('DroidArabicKufi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{

    font-family: 'Droid Arabic Kufi' !important;
}
.pinkTx{
color: rgb(173, 11, 11);    
}

